<header class="c-main-header">
   <a href="/" class="c-main-header__logo">
      <svg
         viewBox="0 0 144 72"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         role="img"
         aria-labelledby="iadLogo"
      >
         <title id="iadLogo">Institut des Arts de Diffusion</title>
         <path
            fill-rule="evenodd"
            d="M2 0h12c1 0 2 1 2 2v70H2c-1 0-2-1-2-2V2c0-1 1-2 2-2zm90 2a2 2 0 0 1 2-2h14c4 0 6 0 8 2l24 24c3 4 4 6 4 10s-1 6-4 10l-24 24V48l12-12-20-20v56H94a2 2 0 0 1-2-2V2zM82 0H68c-4 0-6 0-8 2L24 38v22l44-44v40L54 41 43 52l17 18c2 2 4 2 8 2h14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"
            fill="#1c1c1c"
         ></path>
      </svg>
   </a>
   <nav class="c-main-header__container c-nav">
      <ul class="c-nav__list">
         <li class="c-nav__item">
            <a
               href="/"
               class="c-nav__link c-nav-link {% if routename==='home' %}active{% endif %}"
               >Home</a
            >
         </li>
         <li class="c-nav__item">
            <a
               href="/map"
               class="c-nav__link c-nav-link {% if routename==='map' %}active{% endif %}"
               >Map</a
            >
         </li>
         <li class="c-nav__item">
            <a
               href="/form"
               class="c-nav__link c-nav-link {% if routename==='form' %}active{% endif %}"
               >Create</a
            >
         </li>
         <li class="c-nav__item">
            <a
               href="/contact"
               class="c-nav__link c-nav-link {% if routename==='contact' %}active{% endif %}"
               >Contact</a
            >
         </li>
      </ul>
   </nav>
</header>
