{% extends "layouts/base.html" %} {% block content %}

<style>
   .selfielist {
      background-color: aquamarine;
      list-style: none;
      padding: 0;

      display: grid;
      grid-template-columns: repeat(4, 100px);
      gap: 10px;
   }

   .selfielist__item {
      background-color: brown;
      max-height: 200px;
   }

   .selfielist__image {
      background-color: red;
      max-height: 100%;
      max-width: 100%;
   }
</style>
<div class="content">
   <h1>IAD photobooth</h1>

   <ul class="selfielist">
      <li class="selfielist__item">
         <img
            class="selfielist__image"
            src="https://picsum.photos/id/100/100/400"
            alt=""
         />
      </li>
      <li class="selfielist__item">
         <img
            class="selfielist__image"
            src="https://picsum.photos/id/100/200/300"
            alt=""
         />
      </li>
      <li class="selfielist__item">
         <img
            class="selfielist__image"
            src="https://picsum.photos/id/100/200/200"
            alt=""
         />
      </li>
      <li class="selfielist__item">
         <img
            class="selfielist__image"
            src="https://picsum.photos/id/100/400/300"
            alt=""
         />
      </li>
   </ul>
</div>
{% endblock %}
