{% extends "layouts/base.html" %} {% block content %}

<div class="content">
   <h1>IAD photobooth</h1>

   <ul class="selfielist">
      {% for data in selfieData %}
      <li class="selfielist__item">
         <a class="selfielist__link" href="{{data[2]}}">
            <img class="selfielist__image" src="{{data[1]}}" alt="" />
            <div class="selfielist__textsection">
               <p class="textsection__name">{{data[0]}}</p>
            </div>
         </a>
      </li>
      {% endfor %}
   </ul>
</div>
{% endblock %}
