:root {
  --container-width: 1024px; }

* {
  box-sizing: border-box; }

html,
body {
  background: #ccc url("/img/email-pattern.png");
  font-family: helvetica, sans-serif; }

.c-main-header {
  max-width: var(--container-width);
  margin: 2rem auto;
  display: flex;
  align-items: center; }
  .c-main-header__logo {
    max-width: 10rem;
    width: 100%; }
  .c-main-header__container {
    flex: 1; }

.c-nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: flex-end; }

.c-nav__item {
  padding: 1rem; }

.c-nav-link {
  color: #222; }
  .c-nav-link.active {
    text-decoration: none;
    font-weight: bold;
    color: orangered; }

.c-container {
  max-width: var(--container-width);
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); }

.c-form-control {
  margin-bottom: 1rem; }
  .c-form-control__label {
    display: block;
    color: #aaa;
    margin-bottom: 1rem; }
  .c-form-control__input {
    display: block;
    width: 100%;
    padding: 1rem 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #aaaaaa;
    border-radius: 2rem; }
  .c-form-control__infogeoloc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px; }
  .c-form-control__infogeoloc > input {
    max-width: 100px;
    text-align: center;
    padding: 10px;
    margin-right: 20px; }
  .c-form-control__infogeoloc > label {
    margin-bottom: 0px;
    margin-right: 10px; }
  .c-form-control__infogeoloc > button {
    margin-right: 40px; }

.c-button {
  padding: 1rem 2rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: orangered;
  color: white;
  border-radius: 2rem;
  border: none; }

.c-flash-messages {
  list-style: none;
  margin: 0;
  padding: 0; }
  .c-flash-messages__item {
    margin-bottom: 1rem; }

.c-flash-message {
  padding: 1rem;
  border-radius: 1rem; }
  .c-flash-message.error {
    background: red;
    color: white; }

.selfielist {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px; }

.selfielist__item {
  height: 360px;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
  cursor: pointer; }

.selfielist__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black; }

.selfielist__item:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.05); }

.selfielist__image {
  width: 100%;
  height: calc(100% - 60px);
  object-fit: cover;
  border-radius: 6px 6px 0 0; }

.selfielist__textsection {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.textsection__name {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0; }
